package ${package}.service.impl;

import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.entity.${className};
import ${package}.service.${className}Service;
import ${package}.mapper.${className}Mapper;

/**
 * Module: ${className}.java
 *
 * @author ${author}
 * @since JDK ${jdk}
 * @version ${version}
 * @date ${date}
 * @Descriptions:
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

}