package ${package}.dto;

import com.cloud.bssp.util.BaseDTO;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
    #foreach ($column in $columns)
        #if($column.attrType == 'LocalDate')
import java.time.LocalDate;
            #break
        #end
    #end
    #foreach ($column in $columns)
        #if($column.attrType == 'LocalDateTime')
import java.time.LocalDateTime;
            #break
        #end
    #end
import lombok.Data;

/**
 * Description: ${comments}
 * Create Date: ${date}
 * Modified By：<br>
 * Modified Date：<br>
 * Why & What is modified：<br>
 *
 * @author ${author}
 * @version ${version}
 */
@Data
@ApiModel(value = "${className}DTO",description = "数据传输对象${className}DTO")
public class ${className}DTO extends BaseDTO{

#foreach ($column in $columns)
    /**
     * $column.comments
     */
    @ApiModelProperty(notes  = "$column.comments")
    #if($column.attrname == 'id' || $column.attrname.indexOf('Id') != -1)
    @JsonFormat(shape = JsonFormat.Shape.STRING)
    #end
    #if ("date" == $column.dataType)
    @JsonFormat(shape= JsonFormat.Shape.STRING, pattern="yyyy-MM-dd")
    #end
    #if ("datetime" == $column.dataType)
    @JsonFormat(shape= JsonFormat.Shape.STRING, pattern="yyyy-MM-dd HH:mm:ss")
    #end
    private $column.attrType $column.attrname;

#end
}