package ${package}.dto;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
    #foreach ($column in $columns)
        #if($column.attrType == 'LocalDate')
import java.time.LocalDate;
            #break
        #end
    #end
    #foreach ($column in $columns)
        #if($column.attrType == 'LocalDateTime')
import java.time.LocalDateTime;
            #break
        #end
    #end
import lombok.Data;
/**
 * Module: ${className}DTO.java
 *
 * @author ${author}
 * @since JDK ${jdk}
 * @version ${version}
 * @date ${date}
 * @Descriptions: ${comments}
 */
@Data
@ApiModel(value = "${className}DTO",description = "数据传输对象${className}DTO")
public class ${className}DTO  {

#foreach ($column in $columns)
    /**
     * $column.comments
     */
    @ApiModelProperty(notes  = "$column.comments")
    private $column.attrType $column.attrname;
#end
}