package ${package}.service.impl;

import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.entity.${className}DO;
import ${package}.service.${className}Service;
import ${package}.dao.${className}Mapper;

/**
 * Description: ${comments}
 * Create Date: ${date}
 * Modified By：<br>
 * Modified Date：<br>
 * Why & What is modified：<br>
 *
 * @author ${author}
 * @version ${version}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}DO> implements ${className}Service {

}