package ${package}.service;

import ${package}.entity.${className}DO;
import com.cloud.bssp.config.mybatisplus.IDataService;

/**
 * Module: ${className}Service.java
 *
 * @author ${author}
 * @since JDK ${jdk}
 * @version ${version}
 * @date ${date}
 * @Descriptions:
 */
public interface ${className}Service extends IDataService<${className}DO> {
}