package ${package}.dao;

import ${package}.entity.${className}DO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * Description: ${comments}
 * Create Date: ${date}
 * Modified By：<br>
 * Modified Date：<br>
 * Why & What is modified：<br>
 *
 * @author ${author}
 * @version ${version}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}DO> {
}