package ${package}.service;

import ${package}.entity.${className}DO;
import com.cloud.bssp.config.mybatisplus.IDataService;

/**
 * Description: ${comments}
 * Create Date: ${date}
 * Modified By：<br>
 * Modified Date：<br>
 * Why & What is modified：<br>
 *
 * @author ${author}
 * @version ${version}
 */
public interface ${className}Service extends IDataService<${className}DO> {
}